* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background: linear-gradient(45deg, #ee7752, #fb5f9a, #23a6d5, #23d5ab);
    background-size: 300% 300%;
    -webkit-animation: gradient 6s ease infinite;
            animation: gradient 6s ease infinite;
    padding: 30px;
  }
  
  @-webkit-keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.caculator {
    width: 375px;
    height: auto;
    border: 3px solid  #aaa ;
    border-radius: 5px;
}

.calculator input {
    width: calc(100% - 20px);
    outline: none;
    border: 1px solid #aaa;
    font-size: 30px;
  }
  
  .calculator .box-calculator {
    border-bottom: none;
    padding: 4px 0;
    margin-top: 10px;
  }
  
  .calculator .box-result {
    border-top: none;
    padding: 4px 0;
    text-align: right;
  }
  
  .calculator button {
    width: 32%;
    height: 50px;
    font-size: 20px;
    margin-top: 4px;
    cursor: pointer;
  }
  
  .calculator .box-button {
    width: calc(100% - 20px);
    margin: 10px auto 10px auto;
  }